extends ./layout/layout
block contant
    .container.mt-5
        .pink.w-100.p-2
            h3.w-75.float-left.text-white.pt-3.pl-4 Friends
            a.btn.btn-purple.float-right(href="/create-group") Create Group
            .clearfix
        .row.pt-4
            each friend in friends
                if friend._id != isConnect
                    .col.col-12.col-md-4.col-lg-3 
                        a(href='/profile/' + friend._id)
                            .text-center.card-box(id=friend.id)
                                .member-card.pt-2.pb-2
                                    .thumb-lg.member-thumb.mx-auto(style='position: relative;')
                                        img.rounded-circle.img-thumbnail(src='/' + friend.image alt='profile-image')
                                        span.online_friend_icon
                                    div.mt-4
                                        h3= friend.username
                                        
block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/sockets/init.js")
    script(src="/js/main.js")
