extends ./layout/layout
block contant
    .container.mt-5
        .row.pt-4
            each group in groups
                .col.col-12.col-md-4.col-lg-3
                    .text-center.card-box
                        .member-card.pt-2.pb-2
                            .thumb-lg.member-thumb.mx-auto(style='position: relative;')
                                img.rounded-circle.img-thumbnail(src='/' + group.image alt='profile-image')
                                span.online_friend_icon
                            div
                                h4
                                    b= group.name
                                a.btn.btn-success.mt-3.btn-rounded.waves-effect.w-md.waves-light(href='/chat/group/' + group._id) go to chat